* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Cascading style sheet*/
/* 선택자(selector) */
.center-align {
    margin: 0 auto;
    width: 1080px;
}

#header-search a {
    text-decoration: none;
}

#header-search h1 {
    width: 198px;
    height: 48px;
    display: inline-block;
    background-image: url(./sp_search.png);
    background-position: -4px -10px;
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    /*  한방에 줄여서 쓸 수도 있다.  */
    /*background: url(./sp_search.png) -4px -10px no-repeat;*/
    vertical-align: middle;
    position: relative;
    top: -3px;
}


/**
div#header-search h1{
    자손 선택자
}
 */

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

#header-search h2 {
    display: none;
}

#header-search fieldset {
    margin-left: 20px;
    /*위 오른쪽 아래쪽 왼쪽 (시계방향)*/
    padding: 12px 0 12px 10px;
    width: 521px;
    height: 49px;
    display: inline-block;
    border: 2px solid #03cf5d; /* hex 표기법 */
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none; /* input 테두리 없애기 */
    vertical-align: top;
    width: 405px;
    height: 23px;
}

#header-search fieldset button {
    width: 49px;
    height: 49px;
    border: none;
    padding: 0;
    background: #03cf5d;
    position: absolute;
    right: -2px;
    top: -2px;
}

#search-image {
    width: 21px;
    height: 21px;
    background-image: url(./sp_search.png);
    background-position: -3px -60px;
    background-repeat: no-repeat;
    display: inline-block;
    /*margin: 14px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav li span:first-child {
    height: 16px;
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_nav_v200110.png);
    background-repeat: no-repeat;
    margin-left: 14px;
}

nav li:first-child span:first-child {
    width: 25px;
    background-position: -294px -156px;
    margin-left: 0;
}

nav li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -234px -234px;
}

nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -50px -182px;
}

nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -128px -130px;
}

nav li:nth-child(5) span:first-child {
    width: 26px;
    background-position: -111px -260px;
}

nav li:nth-child(6) span:first-child {
    width: 40px;
    background-position: -294px -208px;
}

nav li:nth-child(7) span:first-child {
    margin-top: -1px;
    width: 32px;
    background-position: -200px -182px;
}