/* Cascading style sheet*/
/* 선택자(selector) */
div#header-center {
    margin: 0 auto;
    width: 1080px;
}

div#header-search > h1{
    width: 280px;
    display: inline-block;
}
/**
div#header-search h1{
    자손 선택자
}
 */

div#header-search h2 {
    display: none;
}

div#header-search fieldset{
    width: 520px;
    display: inline-block;
}